<h2>Edición de comentarios</h2>
<div *ngIf="comment">
  <div>Nombre:</div>
  <input type="text" [(ngModel)]="comment.name"/>
  <div>Correo electrónico:</div>
  <input type="email" [(ngModel)]="comment.email"/>

  <div>Página web:</div>
  <input type="text" [(ngModel)]="comment.website"/>

  <div>Comentario:</div>
  <textarea cols="25" rows="5" [(ngModel)]="comment.content"></textarea>

  <div>
    <button type="button" (click)="updateComment()">Guardar</button>
    <button type="button" (click)="goBack()">Regresar</button>
  </div>
</div>